.header__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 10px;
  z-index: 10000;
}
.header__wrap .header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__wrap .menu__hamburguer i {
  font-size: 25px;
  color: #6E21A2;
}
.header__wrap #logo__header {
  padding: 0 10px;
}
.header__wrap #logo__header img {
  width: 100%;
}
.header__wrap .shoppingbag__login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}
.header__wrap .shoppingbag__login i, .header__wrap .btn__busca i {
  color: #FA8D70;
  font-size: 19px;
}
.header__wrap .header__search-space {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}
.header__wrap .header__search-space input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: #FEECE7;
  padding: 8px 30px 8px 15px;
  font-size: 13px;
}
.header__wrap .header__search-space input:focus {
  box-shadow: 0;
  outline: 0;
}
.header__wrap .btn__busca {
  position: absolute;
  right: 0;
  margin-right: 10px;
  background: transparent;
  border: none;
  box-shadow: none;
}

.banners__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  gap: 10px;
  margin-bottom: 40px;
}

.item__banner-mobile {
  width: auto;
}

.grid-banners__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.grid-banners__mobile .banners__mobile__title {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-align: left;
  line-height: 25px;
  padding-bottom: 10px;
  width: auto;
}
.grid-banners__mobile .banners__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "grid1 grid2" "grid3 grid3";
  gap: 10px;
  width: auto;
}
.grid-banners__mobile .banners__grid__link:nth-child(3n+1) {
  grid-area: grid1;
}
.grid-banners__mobile .banners__grid__link:nth-child(3n+2) {
  grid-area: grid2;
}
.grid-banners__mobile .banners__grid__link:nth-child(3n) {
  grid-area: grid3;
}
.grid-banners__mobile .banners__grid__link img {
  height: 100%;
  object-fit: cover;
}

.newsletter {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.newsletter .newsletter__banner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter .newsletter__conteudo {
  flex: 1;
  background-color: rgba(245, 245, 245, 0.603);
  padding: 25px;
}
.newsletter .newsletter__conteudo .newsletter__title {
  color: #6E21A2;
  font-size: 30px;
  padding-right: 20px;
}
.newsletter .newsletter__conteudo .newsletter__title b {
  font-weight: 700;
}
.newsletter .newsletter__conteudo .newsletter__text {
  font-weight: 600;
}
.newsletter .newsletter__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.newsletter .newsletter__inputs .newsletter__input {
  width: 47%;
  border: none;
  padding: 10px 10px;
  box-shadow: none;
  border-radius: 25px;
}

.home__banner {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer {
  background: #FA4515;
  margin-top: 70px;
  text-align: center;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .footer__title__padrao {
  color: #6E21A2;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer .footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50px;
  padding-bottom: 20px;
}
.footer .footer__register__social {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-bottom: 40px;
}
.footer .footer__register__social .footer__register__title {
  text-align: start;
}
.footer .footer__register__social .footer__register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 15px 0;
}
.footer .footer__register__social .footer__register__form .register__form__input {
  border: none;
  padding: 10px 10px;
  box-shadow: none;
  border-radius: 25px;
  width: auto;
  text-align: left;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.footer .footer__register__social .footer__register__form .register__form__input::placeholder {
  color: #FFFFFF;
  font-size: 13px;
}
.footer .footer__register__social .footer__register__button {
  text-align: start;
}
.footer .footer__register__social .footer__register__button .submite__register__footer {
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #6E21A2;
  border: none;
  font-weight: 600;
  font-size: 14px;
  width: 40%;
  text-align: start;
  padding-left: 10px;
}
.footer .footer__register__social .footer__social__icons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer .footer__register__social .footer__social__icons .social__link {
  text-decoration: none;
  color: #6E21A2;
  font-size: 25px;
}
.footer .footer__topicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.footer .footer__topicos .topico__lista {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer__topicos .topico__lista li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

#body {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  background-color: #F5F5F5;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

main {
  padding-top: 115px;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
