@import "./elements/color-font.scss";
@import "./paginas/home.scss";


*{
    box-sizing: border-box;
}

#body{
    font-size: 16px;
    font-family: $font;
    font-weight: 400;
    background-color: $bkgnd-page;
}

.content__header{
    padding-left: 15px;
    padding-right: 15px;
}

.content{
    padding-left: 10px;
    padding-right: 10px;
}

main{
    padding-top: 115px;
}

img{
    width: 100%;
}

.container__geral{
    max-width: 4500px;
    width: 100%;
    margin: 0 auto;
}


@media screen and (min-width: 640px){
    .content{
        padding: 0 10%;
    }
}

@media screen and (min-width: 1024px){

    .content{
        padding: 0;
    }
}