@import "../elements/color-font.scss";

// HEADER
.header-mobile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: $branco;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 10000;

    .content__header{
        position: relative;
    }

    //menu, logo, itens
    .header{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .menu__hamburguer i{
        font-size: 25px;
        color: $roxo;
    }
    #logo__header{
        padding: 0 10px;
    }
    .header__menu__desktop{
        display: none;
    }
    #logo__header img{
        width: 100%;
    }
    .shoppingbag__login{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15px;
    }
    .shoppingbag__login i , .btn__busca i{
        @include btn-laranja
    }

    //barra de pesquisa
    .header__search-space{
        display: flex;
        align-items: center;
        margin: 10px 5px;
    }
    .header__search-space input{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        background-color: $bkgnd-searchbar;
        padding: 8px 30px 8px 15px;
        font-size: 13px;
    }
    .header__search-space input:focus{
        box-shadow: 0;
        outline: 0;
    }
    .btn__busca{
        position: absolute;
        right: 0;
        margin-right: 10px;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}
.header-desktop{
    display: none;
}
//BANNERS
.banners__home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    gap: 10px;
    margin-bottom: 10px;
    visibility: hidden;
}
.banners__vantagem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
    visibility: hidden;
}
.item__banner-mobile{
    width: 100%;
}
//GRID FLEX BANNERS MOBILE
.grid-flex-banners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    visibility: hidden;

    .banners__mobile__title{
        font-size: 1.5em;
        letter-spacing: 0.1em;
        text-align: left;
        line-height: 25px;
        padding-bottom: 10px;
        width: auto;

    }
    .banners__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "grid1 grid2"
        "grid3 grid3";
        gap: 10px;
        width: auto;
    }
    .banners__grid__link:nth-child(3n + 1){
        grid-area: grid1;
    }
    .banners__grid__link:nth-child(3n + 2){
        grid-area: grid2;
    }
    .banners__grid__link:nth-child(3n){
        grid-area: grid3;
    }

    .banners__grid__link img{
        height: 100%;
        object-fit: cover;
    }
}
//NEWSLETTER
.newsletter{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    visibility: hidden;

    .newsletter__banner-mobile{
        background-image: url(https://www.croppeds.com.br/app-croppeds/assets/images/dinamica/album/11/x11-banner---newsletter-191222-daebf8.jpg.pagespeed.ic.-VasfLyX92.jpg); 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        background-repeat: no-repeat;
        background-size: cover;      
    }
    .newsletter__banner-desktop{
        display: none;
    }
    .newsletter__conteudo{
        flex: 1;
        background-color: rgba(245, 245, 245, 0.603);
        padding: 25px;

        .newsletter__title{
            color: $roxo;
            font-size: 30px;
            padding-right: 20px;
        }
        .newsletter__title b{
            font-weight: 700;
        }
        .newsletter__text{
            font-weight: 600;
        }
        .newsletter__inputs{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;
            .newsletter__input{
                width: 47%;
                @include padrao-input;
            }
            .newsletter__input:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}
//BANNER HOME
.home__banner{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    visibility: hidden;
}
//FOOTER
.footer{
    background: $bkgnd-footer;
    margin-top: 70px;
    text-align: center;
    padding: 20px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
    visibility: hidden;

        .footer__title__padrao{
        color: $roxo;
        font-weight: 700;
        margin-bottom: 15px;
        }

        .footer__logo{
            width: 50px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        .footer__register__social{
            width: 100%;
            margin-bottom: 20px;
            //REGISTER
            .footer__register{
                margin-bottom: 30px;
            }
            .footer__register__title{
                text-align: start;
            }
            .footer__register__form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: nowrap;
                gap: 10px;
                margin: 15px 0;

                .register__form__input{
                    @include padrao-input;    
                    width: auto;  
                    text-align: left;
                    background: transparent;
                    border: 2px solid $branco;
                    color: $branco;
                }
                .register__form__input::placeholder{
                    color: $branco;
                    font-size: 13px;
                }
                .register__form__input:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .footer__register__button{
                text-align: start;
                .submite__register__footer{
                    @include padrao-btn-roxo;
                    width: 40%;
                    text-align: start;
                    padding-left: 10px;
                }
            }
            //SOCIAL
            .footer__social__icons{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .social__link{
                    text-decoration: none;
                    color: $roxo;
                    font-size: 25px;

                }
            }
        }
        .footer__topicos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 20px;

            .topico__lista{
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .topico__lista li a{
                text-decoration: none;
                color: $branco;
                font-size: 14px;
            }
        }
}


@media screen and (min-width: 640px){
    //NEWSLETTER
    .newsletter{
        .newsletter__conteudo{
            padding: 70px;
        }
    }
    //FOOTER
    .footer__register__social{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: "register register social";
        grid-template-rows: auto;
        gap: 40px;

        .footer__register{
            grid-area: register;
            margin-bottom: 0px;
        }
        
        .footer__social{
            grid-area: social;
        }
    }
}

@media screen and (min-width: 1024px){
    //HEADER
    .header-mobile{
        display: none;
    }
    .header-desktop{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 20px;
        
        .header__desktop-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $branco;
            width: 100%;
            height: 100%;
            padding: 30px;

            .nav__menu-desktop{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                gap: 20px;

                .nav__menu-link{
                    text-decoration: none;
                    font-weight: 500;
                    color: $preto;
                    line-height: 30px;
                    font-size: 15px;
                }
            }
            .search__icons__container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 30%;

            }
        }
    }

    //BANNERS
    .banners__home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .5fr;
        grid-template-areas: 
        "grid1 grid2"
        "grid1 grid3";
        gap: 20px;

        .item__banner-mobile{
            object-fit: cover;
            height: 100%;
        }
        #banner__home1{
            grid-area: grid1;
        }
        #banner__home2{
            grid-area: grid2;
        }
        #banner__home3{
            grid-area: grid3;
        }
    }
    .banners__vantagem{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    //GRID FLEX BANNERS DESKTOP
    .grid-flex-banners{
        .banners__grid{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            width: 100%;
            height: 100%;
            align-items: center;
            gap: 20px;
        }

    }
    //NEWSLLETER{
    .newsletter{
        flex-direction: row;
        .newsletter__banner-mobile{
            display: none;
        }
        .newsletter__banner-desktop{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .newsletter__banner-desktop img{
            max-width: 50%;
        }

        .newsletter__input-desktop{
            background-color: $bkgnd-searchbar;
            @include padrao-input;
        }
        .newsletter__input-desktop{
            background-color: $bkgnd-searchbar;
            @include padrao-input;
        }
        .newsletter__input-desktop:focus{
            outline: none;
            box-shadow: none;
        }
    }
    //FOOTER
    .footer{
        padding-bottom: 70px;
        .footer__topicos{
            display: flex;
            flex-direction: row;
            justify-content: start;
            text-align: start;
            flex-wrap: wrap;
            align-items: start;
            gap: 80px;
            
            .footer__topico{
                width: 25%;
            }
        }
        .footer__register__social{
            grid-template-columns: 40% 60%;
            grid-template-areas: "register social" ;
        }
    }
}