@import "../elements/color-font.scss";

// HEADER
.header__wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: $branco;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;

    //menu, logo, itens
    .header{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .menu__hamburguer i{
        font-size: 25px;
        color: $roxo;
    }

    #logo__header{
    
        padding: 0 10px;
    }
    
    #logo__header img{
        width: 100%;
    }

    .shoppingbag__login{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .shoppingbag__login i , .btn__busca i{
        @include btn-laranja
    }

    //barra de pesquisa
    .header__search-space{
        display: flex;
        align-items: center;
        margin: 10px 5px;
    }
    .header__search-space input{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        background-color: $bkgnd-searchbar;
        padding: 8px 30px 8px 15px;
        font-size: 13px;
    }
    .header__search-space input:focus{
        box-shadow: 0;
        outline: 0;
    }
    .btn__busca{
        position: absolute;
        right: 0;
        margin-right: 10px;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

//BANNERS
main{
    padding-top: 115px;
}

.banners__mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    gap: 10px;
    margin-bottom: 40px;
}

.item__banner-mobile{
    width: auto;
}

//GRID BANNERS MOBILE

.grid-banners__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .banners__mobile__title{
        font-size: 1.5em;
        letter-spacing: 0.1em;
        text-align: left;
        line-height: 25px;
        padding-bottom: 10px;
        width: auto;

    }
    .banners__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "grid1 grid2"
        "grid3 grid3";
        gap: 10px;
        width: auto;
    }
    .banners__grid__link:nth-child(3n + 1){
        grid-area: grid1;
    }
    .banners__grid__link:nth-child(3n + 2){
        grid-area: grid2;
    }
    .banners__grid__link:nth-child(3n){
        grid-area: grid3;
    }

    .banners__grid__link img{
        height: 100%;
        object-fit: cover;
    }
}

//NEWSLETTER

.newsletter{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .newsletter__banner{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .newsletter__conteudo{
        flex: 1;
        background-color: rgba(245, 245, 245, 0.603);
        padding: 25px;

        .newsletter__title{
            color: $roxo;
            font-size: 30px;
            padding-right: 40px;
        }
        .newsletter__title b{
            font-weight: 700;
        }
        .newsletter__text{
            font-weight: 600;
        }
    }
    .newsletter__inputs{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        .newsletter__input{
            width: 47%;
            border: none;
            padding: 15px 10px;
            box-shadow: none;
            border-radius: 25px;
        }
    }
}

//BANNER HOME
.home__banner{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


    


















