$bkgnd-page: #F5F5F5;
$branco: #FFFFFF;
$bkgnd-footer: #FA4515;
$laranja-icone: #FA8D70;
$bkgnd-searchbar: #FEECE7;
$roxo: #6E21A2;
$preto: #000000;
$font: 'Raleway';

@mixin btn-laranja {
    color: $laranja-icone;
    font-size: 19px;
}

@mixin padrao-input{
    border: none;
    padding: 10px 10px;
    box-shadow: none;
    border-radius: 25px;
}

@mixin padrao-btn-roxo{
    border-radius: 25px;
    color: $branco;
    background-color: $roxo;
    border: none;
    font-weight: 600;
    font-size: 14px;
}